@import url('https://fonts.googleapis.com/css?family=Arimo|Noto+Sans:400,700');

:root {
  --text-color: rgb(164, 164, 164);
  --nav-font: 'Arimo', sans-serif;
  --main-text: 'Noto Sans', sans-serif;
  --brand-color: rgb(48, 97, 88);
}

.container {
  width: 1000px;
  margin: auto;
}

.container > header > div {
  display: inline-block;
}

header {
  padding: 30px 0px;
}

.company-logo img {
  width: 80%;
  padding: 10px;
}

.nav {
  float: right;
}

.nav > ul > li {
  display: inline-block;
  padding: 0px 20px;
}

.nav > ul > li > a {
  margin: 20px 0px;
  font-family: var(--nav-font);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
  line-height: 30px;
}

.slide img {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: -1;;
}

h3 {
  position: absolute;
  margin: -400px 0px;
  color: white;
  font-family: var(--main-text);
  font-weight: 700;
}

.info > .info-text, .info-img {
  display: inline-block;
  background-color: blue;
}

.info-text {
  width: 60%;
  display: inline-block;
  padding: 50px;
  text-align: center;
}

.info-text h4 {
  font-family: var(--main-text);
  font-size: 1.5rem;
}

.info-text hr {
  border: 1px solid var(--brand-color);
  width: 45%;
}

.info-text h5 {
  font-family: var(--main-text);
  font-size: 1rem;
}

.info-text p {
  font-family: var(--main-text);
  color: var(--text-color);
  text-align: justify;
  line-height: 1.6rem;
}

.info-text > .link-info {
  text-align: center;
}

.link-info a {
  color: var(--brand-color);
  text-decoration: none;
  border-bottom: 1px solid var(--brand-color);
}

.info-img {
  width: 25%;
}

.info-img img {
  height: 50%;
  margin: 0px;
  display: block;
  bottom: 0px;
}